.BreedPage {
  width: 1200px;
  padding: 0 20px;
  margin: 0 auto;

  &__container {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0 40px;
  }

  &__title {
    padding: 20px 0;
    font-size: 25px;
  }

  &__breed-name {
    margin: 10px 0;
    font-size: 22px;
    text-transform: capitalize;
  }

  &__image {
    display: block;
    width: 290px;
    height: 290px;
    margin: 10px 10px 0 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  &__button {
    padding: 16px 10px;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid #121526;
    font-size: 14px;
    line-height: normal;
    color: #121526;

    &:hover{
      background-color: rgba(18, 21, 38, 0.1);
    }
  }

  &__button-wrapper {
    width: 100%;
    margin-top: 15px;
    text-align: center;
  }
}